# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
lib/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# ide
.idea
.code

# build files
elite-native-*.tgz